modules = ["python-3.12", "web"]
run = "python manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python manage.py runserver"]

[[ports]]
localPort = 3000
externalPort = 80
