.session-box {
    background-color: #861A86; /* Purple background */
    border: none;
    color: #FFFFFF; /* White text for main content */
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.session-box h3 {
    color: #F5F5F5; /* Off-white for headers */
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.session-box p {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.session-link {
    color: #32A2C4 !important; /* Light blue for links */
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
}

.session-link i {
    margin-right: 5px;
}

.session-box .text-muted {
    color: #FA7227 !important; /* Orange for muted text */
    font-size: 0.9em;
}

.custom-button {
    background-color: #00334C; /* Dark blue for buttons */
    border: none;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 0.9em;
}

.custom-button:hover {
    background-color: #41B93D; /* Green for button hover */
}

.btn-group {
    margin-top: 10px;
}