body{
    color:#00334C;
    background-color: #E6FDF9 !important;
}

.btn{
    background-color: #00334C;
    border: none;
}

.btn-large {
    font-size: 2em;
    padding: 10% 50%;
    margin: 10% 0;
}
.btn:hover {
    background-color: #DB2955;
    color: white;
}

/* Flexbox container for the nav items and logo */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent; /* No background color */
    margin-inline: 10%;
}

/* Flexbox for the nav items */
.nav-items {
    display: flex;
    align-items: center;
}

/* Logo adjustments */
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-brand img {
    width: 160px;
    height: auto;
}

/* Nav link styles */
.nav-link {
    font-size: 1.5em;
    color: #00334C; /* Default text color */
    margin-right: 20px;
    text-decoration: none;
}

/* Nav link hover and active styles */
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active {
    color: #DB2955;
    border-bottom: 2px solid #DB2955;
}

/* Device ID style */
#deviceIDDisplay {
    font-size: 3em;
    color: #00334C;
    margin-left: auto;
}

/* Styles for the session list */
.nav-item.dropdown {
    position: relative;
}

.nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #E6FDF9;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 0;
    padding: 0;
    right: 0;
    border: none;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown .dropdown-menu .list-group-item {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: #007bff;  /* Bootstrap primary blue color */
    font-size: 1.2em;
    border-bottom: 1px solid rgba(0,123,255,0.1);  /* Light blue separator */
}

.nav-item.dropdown .dropdown-menu .list-group-item:last-child {
    border-bottom: none;
}

.nav-item.dropdown .dropdown-menu .list-group-item a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.nav-item.dropdown .dropdown-menu .list-group-item:hover {
    background-color: rgba(0,123,255,0.1);  /* Light blue background on hover */
}

/* Style for the dropdown toggle */
.nav-item.dropdown .nav-link {
    cursor: pointer;
    color: #007bff;
    font-size: 1.5em;
}

.nav-item.dropdown .nav-link::after {
    content: none;  /* Remove the default dropdown arrow */
}
