<!-- comment.html -->
<div class="comment m-1 p-1 bg-opacity-10 rounded-end" style="background-color: #FA7E61;">
    <p><strong>{{ comment.name|default:"Anonymous" }}</strong></p>
    <p class="mx-3">{{ comment.text }}</p>
    <div class="row">
        <div class="col">
            <a href="#" class="reply" data-id="{{ comment.id }}">Reply</a>
        </div>
        <div class="col text-end">
            <p><small>{{ comment.created_at }}</small></p>
        </div>
        <div class="replies">
            {% for reply in comment.replies.all %}
                {% include 'video_app/comment.html' with comment=reply %}
            {% endfor %}
        </div>
    </div>

    <form method="post" class="reply-form" style="display: none;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_media_key_{{ comment.id }}" class="form-label">Password</label>
            <input type="text" name="media_key" id="id_media_key_{{ comment.id }}" class="form-control" autocomplete="off" required>
        </div>
        {{ comment_form.text.label_tag }}
        {{ comment_form.text }}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <input type="hidden" name="device_id" id="device_id_{{ comment.id }}"> <!-- Hidden field for device ID -->
        <button type="submit" class="btn btn-primary mt-2">Reply</button>
    </form>
</div>

<script>
    document.querySelectorAll('.reply').forEach(function(replyLink) {
        replyLink.addEventListener('click', function(event) {
            event.preventDefault();
            var commentId = this.dataset.id;
            var replyForm = this.closest('.comment').querySelector('.reply-form');
            replyForm.style.display = 'block';
            document.getElementById('device_id_' + commentId).value = localStorage.getItem('deviceID'); // Set the device ID in the hidden field
        });
    });
</script>