<!-- comment.html -->
<div class="comment border m-1 p-1 bg-info bg-opacity-10 border-info rounded-end">
    <p>{{ comment.text }}</p>
    <div class="row">
        <div class="col">
            <a href="#" class="reply" data-id="{{ comment.id }}">Reply</a>
        </div>
        <div class="col text-end">
            <p><small>{{ comment.created_at }}</small></p>
        </div>
        <div class="replies">
            {% for reply in comment.replies.all %}
                {% include 'video_app/comment.html' with comment=reply %}
            {% endfor %}
        </div>
    </div>

    <form method="post" class="reply-form" style="display: none;">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <button type="submit" class="btn btn-primary">Reply</button>
    </form>
</div>
<script>
    document.querySelectorAll('.reply').forEach(function(replyLink) {
        replyLink.addEventListener('click', function(event) {
            event.preventDefault();
            var commentId = this.dataset.id;
            var replyForm = this.closest('.comment').querySelector('.reply-form');
            replyForm.style.display = 'block';
        });
    });
</script>
