{% extends "video_app/base.html" %}
{% block content %}
<style>
    .container-center {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container mt-5">
    <div class="container-center">
        <div class="text-center">
            <a href="{% url 'join_session' %}" class="btn btn-primary btn-large">Join Session</a>
            <br>
            {% if user.is_superuser %}
                <a href="{% url 'start_session' %}" class="btn btn-success btn-large">Start Session</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
