{% extends "video_app/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="row">
                <div class="col text-center">
                    <h1 class="mb-4 text-center display-1">Join a Session</h1>
                </div>
                <div class="col-sm-4 text-end">
                    <h2 class="mt-5 text-center">Join a Session via Code</h2>
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}
                        <div class="mb-3">
                            <input type="text" id="session_code" name="session_code" class="form-control" required>
                            <div class="invalid-feedback">
                                Please enter a session code.
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Join Session</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mt-5 text-center">Available Sessions</h2>
                <ul class="list-group">
                    {% for session in sessions %}
                        <li class="list-group-item session-box">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h3 class="mb-1">{{ session.name }}</h3>
                                    <p class="mb-1">{{ session.description }}</p>
                                </div>
                                <div class="btn-group">
                                    {% if user.is_superuser %}
                                    <form method="post" action="{% url 'pause_session' session.pk %}" class="m-1">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-warning btn-sm custom-button">
                                            {% if session.is_paused %}Resume{% else %}Pause{% endif %}
                                        </button>
                                    </form>
                                    <form method="post" action="{% url 'delete_session' session.pk %}" onsubmit="return confirmDelete()" class="m-1">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm custom-button">Delete</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <form method="post" action="{% url 'join_session' %}" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="session_code" value="{{ session.session_code }}">
                                        <button type="submit" class="btn btn-link session-link" style="padding: 0; border: none; background: none; text-decoration: none;font-size:2em;">
                                            <i class="fa-solid fa-link"></i>Join - {{ session.session_code }}
                                        </button>
                                    </form>
                                </div>
                                <div class="col text-end">
                                    <br/>
                                    <small class="text-muted">Days until deletion: {{ session.days_until_deletion }}</small>
                                    <br/>
                                    <small class="text-muted">Created by: {{ session.created_by }}</small>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this session?");
        }
        function generateDeviceID() {
            let deviceID = localStorage.getItem('deviceID');
            if (!deviceID) {
                deviceID = 'device-' + Math.random().toString(36).substr(2, 9);
                localStorage.setItem('deviceID', deviceID);
            }
            document.cookie = "deviceID=" + deviceID;
        }
        // Call the function to generate the device ID when the page loads
        window.onload = function() {
            generateDeviceID();
        };
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
