{% extends "video_app/base.html" %}
{% block content %}
    <title>{{ media.title }}</title>
    <div class="container mt-5">
        <a href="{% url 'session_detail' media.session.id %}" class="btn btn-secondary mb-3">Back to Session</a>
        <h1>{{ media.title }}</h1>
        <div class="row">
            <div class="col-8 media-content">
                <img src="{{ media.image_file.url }}" alt="{{ media.title }}">
                <p>Uploaded at: {{ media.uploaded_at }}</p>
                <p>Likes: {{ media.likes }}</p>
            </div>
            <div class="col">
                <h1>Comments</h1>
                <div class="comments">
                    {% for comment in comments %}
                        {% include 'video_app/comment.html' with comment=comment %}
                    {% endfor %}
                </div>

                <h3>Add a comment</h3>
                <form method="post" class="comment-form">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="hidden" name="device_id" id="device_id"> <!-- Hidden field for device ID -->
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('device_id').value = localStorage.getItem('deviceID'); // Set the device ID in the hidden field
    </script>
{% endblock %}
