{% extends "video_app/base.html" %}
{% block content %}
    <title>{{ media.title }}</title>
    <div class="container mt-5">
        <a href="{% url 'session_detail' media.session.id %}" class="btn btn-secondary mb-3">Back to Session</a>
        <h1>{{ media.title }}</h1>
        <div class="row">
            <div class="col-8 media-content">
                <!-- Thumbnail -->
                <div class="image-container">
                    <img src="{{ media.image_file.url }}" alt="{{ media.title }}" class="img-thumbnail" id="mainImage">
                </div>
                <p>Uploaded at: {{ media.uploaded_at }}</p>
                <p>Likes: {{ media.likes }}</p>
            </div>
            <div class="col">
                <h1>Comments</h1>
                <div class="comments">
                    {% for comment in comments %}
                        {% include 'video_app/comment.html' with comment=comment %}
                    {% endfor %}
                </div>

                <h3>Add a comment</h3>
                <form method="post" class="comment-form">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="hidden" name="device_id" id="device_id"> <!-- Hidden field for device ID -->
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Lightbox overlay -->
    <div id="lightbox" class="lightbox">
        <span class="close">&times;</span>
        <img class="lightbox-content" id="lightboxImage">
    </div>

    <script>
        // Get the elements
        var mainImage = document.getElementById('mainImage');
        var lightbox = document.getElementById('lightbox');
        var lightboxImage = document.getElementById('lightboxImage');
        var closeBtn = document.getElementsByClassName('close')[0];

        // When the user clicks on the image, open the lightbox
        mainImage.onclick = function(){
            lightbox.style.display = "block";
            lightboxImage.src = this.src;
        }

        // When the user clicks on the close button, close the lightbox
        closeBtn.onclick = function() {
            lightbox.style.display = "none";
        }

        // Close the lightbox when clicking outside the image
        lightbox.onclick = function(event) {
            if (event.target == lightbox) {
                lightbox.style.display = "none";
            }
        }

        document.getElementById('device_id').value = localStorage.getItem('deviceID'); // Set the device ID in the hidden field
    </script>
{% endblock %}
