{% extends "video_app/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'video_app/css/post.css' %}">
{% endblock %}
{% block content %}
    <title>{{ media.title }}</title>
    <div class="container mt-5">
        <a href="{% url 'session' media.session.id %}" class="btn btn-secondary mb-3">Back to Session</a>
        <h1>{{ media.title }}</h1>
        <div class="row">
            <div class="col-8 media-content">
                <!-- Thumbnail -->
                <div class="image-container">
                    <img src="{{ media.image_file.url }}" alt="{{ media.title }}" class="img-thumbnail" id="mainImage">
                </div>
                <div class="d-flex justify-content-center my-3">
                    <div class="badge-buttons d-flex gap-3">
                        <button class="badge-button {% if media.user_liked_graph %}selected{% endif %}" data-media-id="{{ media.id }}" data-badge-type="graph">
                            <img src="{% static 'video_app/images/graph-icon.png' %}" alt="Graph">
                            <span class="badge-count">{{ media.graph_likes }}</span>
                        </button>
                        <button class="badge-button {% if media.user_liked_eye %}selected{% endif %}" data-media-id="{{ media.id }}" data-badge-type="eye">
                            <img src="{% static 'video_app/images/eye-icon.png' %}" alt="Eye">
                            <span class="badge-count">{{ media.eye_likes }}</span>
                        </button>
                        <button class="badge-button {% if media.user_liked_read %}selected{% endif %}" data-media-id="{{ media.id }}" data-badge-type="read">
                            <img src="{% static 'video_app/images/read-icon.png' %}" alt="Read">
                            <span class="badge-count">{{ media.read_likes }}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <h1>Comments</h1>
                <div class="comments">
                    {% for comment in comments %}
                        {% include 'video_app/comment.html' with comment=comment comment_form=comment_form %}
                    {% endfor %}
                </div>

                {% include 'video_app/comment.html' with comment_form=comment_form is_new_comment=True %}
            </div>
        </div>
    </div>

    <!-- Lightbox overlay -->
    <div id="lightbox" class="lightbox">
        <span class="close">&times;</span>
        <img class="lightbox-content" id="lightboxImage">
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'video_app/js/post.js' %}"></script>
{% endblock %}
