{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'video_app/nav.html' %}
    <div class="container mt-5">
        <h1>Session: {{ session_instance.name }}</h1>
        <p>Session Code: {{ session_instance.session_code }}</p>
        <p>Created At: {{ session_instance.created_at }}</p>
        <h1>Media List</h1>
        <a href="{% url 'upload_media' %}" class="btn btn-primary mb-3">Upload Media</a>
        <div class="media-list mt-5">
            <h2>Media for {{ session_instance.name }}</h2>
            <div class="row">
                {% for media in medias %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            {% if media.media_type == 'video' %}
                                <video class="card-img-top" controls>
                                    <source src="{{ media.video_file.url }}" type="video/mp4">
                                </video>
                            {% elif media.media_type == 'image' %}
                                <img src="{{ media.image_file.url }}" class="card-img-top" alt="{{ media.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ media.title }}</h5>
                                <p class="card-text">{{ media.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
