{% extends "video_app/base.html" %}
{% block content %}
    <style>
        .session-header {
            margin-bottom: 2rem;
        }
        .media-list {
            margin-top: 2rem;
        }
        .media-item {
            margin-bottom: 1rem;
        }
        .media-title {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .like-section {
            display: flex;
            align-items: center;
        }
        .like-button {
            margin-right: 0.5rem;
        }
        .tag-buttons {
            margin-bottom: 1rem;
        }
        .tag-button {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .tag-button.active {
            background-color: #007bff;
            color: #fff;
        }
    </style>
    <div class="container mt-5">
        <div class="session-header">
            <h1 class="mb-3">Session: {{ session_instance.name }}</h1>
            <p><strong>Session Code:</strong> {{ session_instance.session_code }}</p>
            <p><strong>Created At:</strong> {{ session_instance.created_at|date:"F j, Y, g:i a" }}</p>
            <p><strong>Created by:</strong> {{ session_instance.created_by }}</p>
            <a href="{% url 'upload_media' session_instance.pk %}" class="btn btn-primary mb-3">Upload Media</a>
        </div>
        <div class="tag-buttons">
            <form method="get" action="">
                {% for tag_value, tag_name in tags %}
                    <input type="checkbox" name="tags" value="{{ tag_value }}" id="tag_{{ tag_value }}" {% if tag_value in selected_tags %}checked{% endif %}>
                    <label for="tag_{{ tag_value }}" class="btn btn-primary tag-button {% if tag_value in selected_tags %}active{% endif %}">{{ tag_name }}</label>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        <div class="media-list">
            <div class="row">
                {% for media in medias %}
                    <div class="col-md-4 media-item">
                        <div class="card">
                            <a href="{% url 'post_detail' media.id %}">
                                {% if media.media_type == 'video' %}
                                    <video class="card-img-top" controls>
                                        <source src="{{ media.video_file.url }}" type="video/mp4">
                                    </video>
                                {% elif media.media_type == 'image' %}
                                    <img src="{{ media.image_file.url }}" class="card-img-top" alt="{{ media.title }}">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title media-title">
                                    {{ media.title }}
                                    <a href="{% url 'post_detail' media.id %}"><i class="fa-solid fa-link"></i></a>
                                </h5>
                                <p class="card-text">{{ media.description }}</p>
                                <div class="row">
                                    <div class="like-section col">
                                        <form method="post" action="{% url 'like_media' media.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary like-button">+{{ media.likes }}</button>
                                        </form>
                                        <a href="?tag={{ media.tag }}" class="btn btn-outline-secondary">{{ media.get_tag_display }}</a>
                                    </div>
                                    <div class="col text-end">
                                        {% if user.is_superuser %}
                                            <a href="{% url 'delete_media' media.pk %}" class="btn btn-danger">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}