{% load static %}
<nav class="navbar">
    <div class="nav-items">
        <a class="navbar-brand" href="{% url 'home' %}" id="logo">
            <img src="{% static 'video_app/images/logo.png' %}" alt="Logo">
        </a>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {%if 'student_id' in request.session %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'student_detail' request.session.student_id %}">Character Profile</a>
            </li>
            {% endif %}
            
            {% if 'current_session_id' in request.session %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'session' session_pk=request.session.current_session_id %}">Data Deck</a>
            </li>
            {% endif %}
            
            <li class="nav-item">
                <form method="post" action="{% url 'student_logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-link">Student Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>