{% extends "video_app/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'video_app/css/upload_media.css' %}">
{% endblock %}
{% block content %}
    <div class="container mt-5 col-3">
        <h1 class="mb-4">Upload Screenshot</h1>
        <form id="media-form" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_image_file" class="form-label">Image File</label>
                {{ form.image_file|add_class:"form-control" }}
                <div class="invalid-feedback">Please upload an image file.</div>
            </div>
            <div class="mb-3">
                <label for="id_graph_tag" class="form-label">Graph Tag</label>
                {{ form.graph_tag|add_class:"form-select" }}
                <div class="invalid-feedback">Please select a graph tag.</div>
            </div>
            <div class="mb-3">
                <label for="id_variable_tag" class="form-label">Variable Tag</label>
                {{ form.variable_tag|add_class:"form-select" }}
                <div class="invalid-feedback">Please select a variable tag.</div>
            </div>
            <div class="d-flex justify-content-between">
                <a href="{% url 'session' session_pk=session.pk %}" class="btn btn-secondary">Back</a>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
{% endblock %}
